.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 80px;
}

.site-brand {
    cursor: pointer;
    h1 {
        font-size: 38px;
    }
}

.menu-list {
    display: flex;
    font-weight: bold;
    li {
        margin-left: 25px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: #61D0D6;
        }
    }
}

.navigation-toggle {
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #4D4D4D;
    color: #E6DACE;
    font-size: 32px;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
    .header {
        justify-content: space-between;
        align-items: center;
    }
    .menu-list {
        display: none;
    }
    .navigation-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}